nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.7);
    color: #fff;
    height: 50px;
    font-family: Verdana, sans-serif;
}
  
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
nav a:hover {
    background-color: rgb(221, 144, 0);
}
  
form {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}
  
input[type="search"] {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    height: 100%;
    font-size: 14px;
    line-height: 25px;
}

input:focus
{
    border:none;
    background-color: #444;
}

