<form>
  <!-- Name input -->
  <div class="form-floating mb-3">
    <!-- <input type="email" class="form-control" id="floatingInput" placeholder="Email or username">
    <label for="floatingInput">Email or username</label> -->

    <input type="text" id="registerName" class="form-control" placeholder="Name" />
    <label for="registerName">Name</label>
  </div>

  <!-- Username input -->
  <div class="form-floating mb-3">
    <input type="text" id="registerUsername" class="form-control" placeholder="Username" />
    <label class="form-label" for="registerUsername">Username</label>
  </div>

  <!-- Email input -->
  <div class="form-floating mb-3">
    <input type="email" id="registerEmail" class="form-control" placeholder="Email" />
    <label class="form-label" for="registerEmail">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-floating mb-3">
    <input type="password" id="registerPassword" class="form-control" placeholder="Password" />
    <label class="form-label" for="registerPassword">Password</label>
  </div>

  <!-- Repeat Password input -->
  <div class="form-floating mb-3">
    <input type="password" id="registerRepeatPassword" class="form-control" placeholder="Password" />
    <label class="form-label" for="registerRepeatPassword">Repeat password</label>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="registerCheck">
      <label class="form-check-label" for="registerCheck">
        I have read and agree to the terms
      </label>
    </div>
  </div>

  <div class="d-grid gap-2">
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">Sign up</button>
  </div>
</form>